.container-form-login {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container-form-login-2 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  align-items: center;

}

.img-form-login {
  margin-bottom: 20px;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
}

.container-money {
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  color: black;
}

.img-header {
  width: 200px;
}

.container-email {
  display: flex;
  flex-direction: row;
}

#icon {
  margin-top: 17px;
}

#email-field {
  color: black;
  font-family: Roboto;
}

.form {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}

.container-form {
  margin: 15px;
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.733);
}

.container-table {
  margin: 15px
}